[submodule ".vim/pack/vpv/start/vim-python-pep8-indent"]
	path = .vim/pack/vpv/start/vim-python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent
[submodule ".vim/pack/vpv/start/ale"]
	path = .vim/pack/vpv/start/ale
	url = git@github.com:dense-analysis/ale
[submodule ".vim/pack/vpv/start/coc.nvim"]
	path = .vim/pack/vpv/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
	branch = release
[submodule ".local/share/nvim/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
